{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<h3>
    Use Pass# {{ pass_data.pass_id }}
</h3>

<p>
    Please enter the details below to activate your parking pass.<br>
</p>



<form class="new-group" role="form" method="POST">
        <label for="license_plate">Visitor License Plate#:</label>
        <input type="text" class="form-control" id="license_plate" name="license_plate" placeholder="License Plate" required>
        <label for="visitor_email_addresses">Visitor Email addresses:</label>
        <input type="email" class="form-control" id="email1" name="email1" placeholder="Email #1(optional)">
        <input type="email" class="form-control" id="email2" name="email2" placeholder="Email #2(optional)">
    <button type="submit" class="btn btn-primary">OK</button>
</form>

<br>

* Your email address (<u>{{ user_email }}</u>) will receive notifications about the parking pass status<br>
* Up to 2 visitors can receive email notifications of this parking pass<br>


{% endblock %}




