{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<h1>
    Delete Pass# {{ pass_data.pass_id }}
</h1>

<h4>
    Are you sure?
</h4>

<div class="btn-group">
<form role="form" method="POST">
    <button type="submit" class="btn btn-danger">Yes</button>
</form>
</div>

<div class="btn-group">
<form action="{{ url_for('get_passes', building_id=building_id) }}">
    <button type="submit" class="btn btn-default btn-group">No</button>
</form>
</div>

<div>
Note:
{% if delete_email == True %}
Only this parking pass (<b>{{ pass_data.pass_id }}</b>) is associated to the following email address: <b>{{ user_data.email }}</b><br>
This email address will be deleted as well
{% else %}
This email address ({{ user_data.email }}) associated to this pass ({{ pass_data.pass_id }}) is also associated to other parking passes<br>
This email address will NOT be deleted
{% endif %}

{% endblock %}

</div>


