{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<h1 style="color:black;">
    Edit Pass: {{ this_pass.pass_id }}</PASS>
</h1>

<p>
    *Please <u>only</u> input text into values that need to be changed<br>
</p>


<form role="form" method="POST">
    <div class="form-group">
        <label for="pass_id">Pass#</label>
        <input type="text" class="form-control" id="pass_id" name="pass_id" placeholder="{{ this_pass.pass_id }}"></textarea>
    </div>
    <div class="form-group">
        <label for="unit">Unit</label>
        <input type="text" class="form-control" id="unit" name="unit" placeholder="{{ this_pass.unit }}"></textarea>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="{{ this_pass.name }}"></textarea>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="{{ this_pass.phone }}"></textarea>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="{{ this_pass.email }}"></textarea>
    </div>
        <div class="form-group">
        <label for="maxtime">Expiry Timer</label>
        <input type="integer" class="form-control" id="maxtime" name="maxtime" placeholder="{{ this_pass.maxtime }} (minutes)"></textarea>
    </div>
    <p>
        Pass#: this is the unique name/number which identifies a parking pass<br>
        Email: all parking pass events are sent to this email, this email is used as the owner/tenant's login username<br>
        Expiry Timer: The time (in minutes) before the parking pass expires (24 hours = <b>1440</b> minutes)
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}




