			<br/>

			</p>
			<p><br/>

			</p>
			<p><br/>

			</p>
		</td>
	</tr>
	<tr>
		<td width="657" valign="top" style="border: none; padding: 0cm">
			<p><font face="arial, sans-serif"><font size="4" style="font-size: 14pt">Building: 
			<b>{building_name:}</b>
			</font></font></p>
		</td>
	</tr>	
	<tr>
		<td width="657" valign="top" style="border: none; padding: 0cm">
			<p><font face="arial, sans-serif"><font size="4" style="font-size: 14pt">Username: 
			<b>{user_email:}</b>
			</font></font></p>
		</td>
	</tr>	
	<tr>
		<td width="657" valign="top" style="border: none; padding: 0cm">
			<p><font face="arial, sans-serif"><font size="4" style="font-size: 14pt">Name: 
			<b>{user_name:}</b>
			</font></font></p>
		</td>
	</tr>
	<tr>
		<td width="657" valign="top" style="border: none; padding: 0cm">
			<p><font face="arial, sans-serif"><font size="4" style="font-size: 14pt">Temporary Password: 
			<b>{user_password:}</b>
			</font></font></p>
		</td>
	</tr>

	<tr>
		<td width="657" valign="top" style="border: none; padding: 0cm">
			<p><font face="arial, sans-serif"><font size="4" style="font-size: 9pt">
			This email provides credentials to use the VPassPortal software
			<br>
			Please enter the credentials above at www.vpassportal.com
			<br>
			It is recommended that you login and change your password as soon as possible
			<br>
			</font></font></p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
</body>
</html>