{% extends "base.html" %}

{% block content %}
<h4>
    We need to verify your identity
</h4> 
	<br>
<form role="form" method="POST">
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required></textarea>
    </div><br><br><br>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="<First> <Last>"></textarea>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Primary Phone Number"></textarea>
    </div>
    <p>
       Please enter the above information correctly to receive an email with a temporary password
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

</div>
