{% macro render_entry(pass, access_priv, building) %}
    <tr height="40">
        <td>{{ pass.pass_id }}</td>
        
        {% if access_priv == "admin" %}
        <td>{{ pass.unit }}</td>
        {% endif %}
        
        <td>{{ pass.license_plate }}</td>
        {% if pass.plate_expire == None %}
        <td><font color="red">Pass not in use</font></td>
        {% else %}
        
        <td><font color="green">{{ pass.plate_expire  | dateformat( building.timezone) }}</font></td>
        {% endif %}

        
        
        {% if access_priv == "admin" %}
        <td>{{ pass.name }}</td>
        <td>{{ pass.phone }}</td>
        <td>{{ pass.email }}</td>
        {% endif %}
        
        <td>
            {% if access_priv == "admin" %}
            <div class="view_pass btn-group">
                <form action="{{ url_for('edit_pass_get', pass_id=pass.id) }}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
            <div class="view_pass btn-group">
                <form action="{{ url_for('delete_pass_get', pass_id=pass.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            {% endif %}
        </td>
    </tr>
{% endmacro %}


{% macro customer_entry(pass, building) %}
<div>
        {% if pass.license_plate == None %}
        <h3> Parking pass# {{ pass.pass_id }} </h3>
        Pass currently not being used, please click "Use Pass":
        <form action="{{ url_for('customer_use_pass_get', pass_id=pass.id) }}">
            <button type="submit" class="btn btn-primary">Use Pass</button>
        </form>
        
        {% else %}
        <h3> Parking pass# {{ pass.pass_id }} </h3>
        Currently assigned to license plate <b><font color="green">{{ pass.license_plate }}</font></b><br>
        Expires <b><font color="green">{{ pass.plate_expire | dateformat(building.timezone) }}</font></b>
        {% if not pass.email_1 == None or not pass.email_2 == None %}<br>
        Email(s) receiving notifications:<br>
        {% if not pass.email_1 == None %}
        {{ pass.email_1 }}<br>
        {% endif %}
        {% if not pass.email_2 == None %}
        {{ pass.email_2 }}
        {% endif %}
        {% endif %}
        
        
        
        
        <form action="{{ url_for('customer_end_pass_get', pass_id=pass.id) }}">
            <button type="submit" class="btn btn-danger">End Pass</button>
        </form>
        
        {% endif %}
        
</div>
{% endmacro %}
