{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<div class="btn-group pull-left">
    <h2> Building Name: {{ building.name }}  </h2>

{% if access_priv == "admin" %}
<form action="{{ url_for('add_pass_get', building_id=building.id) }}">
    <button type="submit" class="btn btn-primary pull-left">Add New Pass</button>
</form>
{% endif %}
<br><br><br><br>
</div>


<table class= "table-striped table-hover" style="width:100%">
    <tr height="50">
        <td><b>Pass</b></td>
        {% if access_priv == "admin" %}
        <td><b>Unit</b></td>
        {% endif %}
        <td><b>License Plate</b></td>
        <td><b>Expires</b></td>
        <td></td>
    </tr>
{% for pass in passes %}
{{ macros.render_entry(pass, access_priv) }}
{% endfor %}
</table>

{% endblock %}